/* WeatherApp */
/* style.css */

:root {
  --clr-primary: rgb(211, 149, 240);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(140, 11, 247);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;  /* borders can increase the affordance of interactive elements, if you’d rather address affordance differently */
  border: none;
  color: rgb(46, 245, 11);
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

img {
  display: block; /* removes the little space underneath an image */
  max-width: 100%; /* prevents image from blowing up its container */
}

input, input:focus, input:-webkit-autofill {
  border: 1px solid rgb(46, 245, 11);
   background-color: transparent;
}


#background-container {
  /* background-image: url('/src/images/STScI-01HGGZ5KSFGCS4EZ8SZCZM3AW3.png'); */
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
   width: 100vw;
   height: 100vh;
   background-size: cover;
   background-position: center;
}

/* default set of parameters for most buttons */
.btn {
  cursor: pointer;
  background: 0;
  border: 1px solid rgb(46, 245, 11);
  padding: 0.15em 0.15em;
  color: inherit;
}


#search-location {
  display: flex;
  flex-direction: column;
}

#search-location button {
  flex-shrink: 0;
  align-self: flex-start;
}

#location-input {
  color: red;
  margin-left: 0px;
  width: 10vw;
}

/* .weather-api-link {
  display: inline;
  position: absolute;
  bottom: 1vh;
} */
.credits {
  display: inline;
  position: absolute;
  bottom: 1vh;
}
