/* WeatherApp */
/* style.css */

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box; /* borders can increase the affordance of interactive elements, if you’d rather address affordance differently */
  border: none;
  color: rgb(220, 234, 60);
}

html {
  /* font-size: 62.5%;  */
  /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
input:focus,
input:-webkit-autofill {
  border: 1px solid rgb(220, 234, 60);
  background-color: transparent;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 1px solid rgb(220, 234, 60);
  padding: 0.15em 0.15em;
  color: inherit;
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
}

#welcome-header {
  text-align: center;
}

.current-display {
  margin-top: 2vh;
  align-self: flex-start;
}

.current-conditions {
  margin: 0;
}

#location-display {
  margin-left: 4vw;
  /* margin-top: 0.25em;
  margin-bottom: 0.25em; */
}

#location-display > *:nth-child(-n+) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#search-location {
  margin-top: 2vh;
}

#search-location button {
  flex-shrink: 0;
  align-self: flex-start;
}

#location-input {
  color: rgb(220, 234, 60);
  width: 10vw;
}

.gif {
  margin-top: 1vh;
  max-width: 25%;
  /* max-height: 2%; */
  height: auto;
  margin-left: 18vw;
}

.credits {
  display: flex;
  position: absolute;
  bottom: -22vh;
  text-align: left;
  gap: 1em;
}
